<%= fields_for 'page_menu[positions_attributes]', page_position do |f| %>
  <li class='pp-link clearfix record' id="<%= dom_id(page_position)%>">
    <div class='header'>
      <div class='name'><%= page_position.title %></div>
      <div class='type'><%= page_position.type_name %></div>
      <span class='arrow'>&nbsp;</span>
    </div>
    <div class='body'>
      <%= f.hidden_field :id %>
      <% if f.object.custom_link? %>
        <%= render partial: "refinery/admin/page_positions/custom_link", object: page_position, locals: {f: f} %>
      <% else %>
        <%= render partial: "refinery/admin/page_positions/resource_link", object: page_position, locals: {f: f} %>
      <% end %>
      <%= link_to "remove", admin_page_position_path(page_position), method: :delete, remote: true, class: 'remove' %>
    </div>
    
    <% if page_position.children.any? %>
      <ul class='nested'>
        <% page_position.children.each do |child|  %>
          <%= render partial: 'refinery/admin/page_positions/page_position', object: child %>
        <% end %>
      </ul>
    <% end %>
  </li>
<% end %>