<%= content_tag :div, class: "pp-add-box resource-pp-add-box", data: {type: resource_type} do %>
  <%= form_for [refinery, :admin, Refinery::PagePosition.new] do |f| %>
    <h3><%= resource_type.to_s.titleize %></h3>
    <div class='pp-selection-box'>
      <%= f.hidden_field :type, {value: resource_type} %>
      <ul class='checkboxes'>
        <% resources = Refinery::PagePosition.find_all_of_type(resource_type) %>
        <% resources.each do |object| %>
          <li>
            <%= check_box_tag(dom_id(object), object.id) %>
            <%= label_tag(dom_id(object), object.title, class: 'stripped') %>
          </li>
        <% end %>
      </ul>
    </div>
    <%= f.submit "Add" # add resource type here %>
  <% end %>
<% end %>