<ul>
  <li>
    <%= render '/refinery/admin/search', :url => refinery.admin_pages_path %>
  </li>
  <li>
    <%= link_to t('.create_new_page'), refinery.new_admin_page_path,
                :class => "add_icon" %>
  </li>

	<li>
		<%= link_to t('.menus.edit'), refinery.admin_edit_main_menu_path,
	           		:class => "edit_icon" %>
	</li>
	
<% if @pages.many? and !searching? %>
  <li>
    <%= link_to t('.reorder_pages'), refinery.admin_pages_path,
                :id => "reorder_action",
                :class => "reorder_icon" %>

    <%= link_to t('.reorder_pages_done'), refinery.admin_pages_path,
                :id => "reorder_action_done",
                :style => "display: none;",
                :class => "reorder_icon" %>
  </li>
<% end %>

  <% if Refinery::PageMenus.pages_overview %>
	<li>
		<%= link_to t('.pages.manage'), refinery.admin_pages_path,
	               :class => "folder_icon" %>
	</li>
	<% end %>
  
  <% if Refinery::PageMenus.collapsible_menu %>
    <ul class='collapsible_menu'>
      <li class='not_a_link'>
        <%= link_to t('.menus.title'), "#",
                     :class => "folder_icon" %>
      </li>
	<% else %>
	  <ul>
  <% end %>
	<% @page_menus.each do |menu| %>
	  <li>
	    <%= link_to menu.title, refinery.admin_page_menu_page_positions_path(menu),
	                 :class => "folder_icon" %>
	  </li>
	<% end %>
	</ul>
</ul>