<div id='pp-select-container' class='clearfix'>
  <div id='left_actions'>

    <div id="custom_url_box" class="pp-add-box">
      <h3>Custom Link</h3>
      <div class='field'>
        <%= label_tag(:url) %>
        <%= text_field_tag(:url) %>
      </div>
      <div class='field'>
        <%= label_tag(:label) %>
        <%= text_field_tag(:label) %>
      </div>
      <a href="#" class="button add_link">Add</a>
    </div>

    <div class="pp-add-box resource-pp-add-box" data-type="refinery_page">
      <h3>Pages</h3>
      <div class='pp-selection-box'>
        <ul class='checkboxes'>
          <% @pages.each do |object| %>
            <li>
              <%= check_box_tag(dom_id(object), object.id) %>
              <%= label_tag(dom_id(object), object.title, class: 'stripped') %>
            </li>
          <% end %>
        </ul>
      </div>
      <a href="#" class="button add_link">Add</a>
    </div>

  </div>

  <div id='links_container'>
    <div class='placeholder-text'>Use the left side to add links to your menu.</div>
  </div>

</div>

<% content_for :javascripts, javascript_include_tag('refinery/menu_editor') %>
<% content_for :stylesheets, stylesheet_link_tag('refinery/select_form') %>