<div id='pp-select-container' class='clearfix'>
  <%#= form_for [refinery, :admin, @page_menu], remote: true do |f| %>
    <div id='left_actions'>
      
      <div id="custom_url_box" class="pp-add-box">
        <%= form_for [refinery, :admin, @page_menu.positions.build], remote: true do |f| %>
          <%= f.hidden_field :refinery_menu_id %>
          <h3>Custom Link</h3>
          <div class='field'>
            <%= f.label :custom_url %>
            <%= f.text_field :custom_url %>
          </div>
          <div class='field'>
            <%= f.label :label %>
            <%= f.text_field :label %>
          </div>
        <%= f.submit "Add" %>
        <% end %>
      </div>

      <% Refinery::PageMenus.menu_resources.each do |resource_type, config| %>
        <%= render partial: "refinery/admin/page_positions/resource_link_editor_box", locals: { resource_type: resource_type, config: config } %>
      <% end %>

    </div>
  <%# end -%>
  <%= form_for [refinery, :admin, @page_menu] do |f| %>
    <div id='form-container'>

      <%= render '/refinery/admin/error_messages',
                 :object => @page_menu,
                 :include_object_name => true %>

      <div class='field'>
        <%= f.label :title %>
        <%= f.text_field :title, class: "larger" %>
      </div>

      <%= content_tag :ul, id: "sortable_list", data: {links: @page_positions} do %>
        <%#= hidden_field_tag "ul" %>
        <% if @page_positions.present? %>
          <% @page_positions.each do |page_position|  %>
            <%= render partial: 'refinery/admin/page_positions/page_position', object: page_position %>
          <% end %>
        <% else %>
          <li class='placeholder-text'>Use the left side to add links to your menu.</li>
        <% end %>
      <% end %>
    </div>
    <%# content_for :javascripts, javascript_include_tag('refinery/menu_editor') %>


    <%= render '/refinery/admin/form_actions', :f => f,
                :continue_editing => true,
                :delete_title => t('delete', :scope => 'refinery.travels.admin.travels.category'),
                :delete_confirmation => t('message', :scope => 'refinery.admin.delete') %>
  <% end %>
</div>

<% content_for :stylesheets, stylesheet_link_tag('refinery/select_form') %>

<%= render '/refinery/admin/make_sortable', :update_url => refinery.update_positions_admin_page_menu_page_positions_path(@page_menu.id || 0), :tree => true%>

<%= render '/refinery/admin/sortable_list', :continue_reordering => !!local_assigns[:continue_reordering] %>

<% content_for :javascripts, javascript_include_tag('refinery/backend.js') %>
