<%= form_for [refinery, :admin, @page_menu], :html => {:onsubmit => "selectAll('.select_to')" } do |f| -%>
  <%= render '/refinery/admin/error_messages',
              :object => @page_menu,
              :include_object_name => true %>

  <div class='field'>
    <%= f.label :title %>
    <%= f.text_field :title, class: "larger widest" %>
  </div> 

		
	<div class='select'>	
		
		<div class="hemisquare">
			<span class='label_with_help'>
				<%= label_tag :all_pages, t('.all_pages') %>
			  <%= refinery_help_tag t('.all_pages_help') %>
			</span>
			<%= collection_select :all, :pages, Refinery::Page.all - @page_menu.pages, :id, :title, {}, { :allow_blank => true, :size => 20, :multiple => true, :class => "select_from" } %>
		</div>
		
		<div class='select_buttons'>
			<%= button_tag ">", :type => 'button', :onclick => "moveSelectedPage('.select_from','.select_to')", :class => 'select_add' %>
			<%= button_tag "<", :type => 'button', :onclick => "moveSelectedPage('.select_to','.select_from')", :class => 'select_remove' %>
		</div>
		
		<div class="hemisquare right_side">
			<span class='label_with_help'>
				<%= f.label :pages, t('.menu_pages') %>
			  <%= refinery_help_tag t('.pages_help') %>
			</span>
			<%= f.collection_select :pages, @page_menu.pages, :id, :title, {}, { :allow_blank => true, :size => 20, :multiple => true, :class => "select_to" } %>
		</div>
		
  </div>
  
  <%= render '/refinery/admin/form_actions', :f => f,
             :continue_editing => false,
             :delete_title => t('delete', :scope => 'refinery.travels.admin.travels.category'),
             :delete_confirmation => t('message', :scope => 'refinery.admin.delete') %>
<% end %>