<%= form_for [refinery, :admin, @page_menu], html: { id: 'page_menu_form' } do |f| %>
  <div class='field'>
    <%= f.label :title %>
    <%= f.text_field :title, class: "larger widest" %>
  </div>
  <div id='form-container'>

    <%= render '/refinery/admin/error_messages',
               :object => @page_menu,
               :include_object_name => true %>



    <%= content_tag :ul, id: "sortable_list", data: {links: @page_positions} do %>
      <% if @page_positions.present? %>
        <% @page_positions.each do |page_position|  %>
          <%= render partial: 'refinery/admin/page_positions/page_position', object: page_position %>
        <% end %>
      <% else %>
        <li class='placeholder-text'>Use the left side to add links to your menu.</li>
      <% end %>
    <% end %>
  </div>


  <%= render '/refinery/admin/form_actions', :f => f,
              :continue_editing => false,
              :delete_title => t('delete', :scope => 'refinery.travels.admin.travels.category'),
              :delete_confirmation => t('message', :scope => 'refinery.admin.delete') %>
<% end %>
