<div class='select'>	
	
	<div class="hemisquare">
		<span class='label_with_help'>
			<%= label_tag :all_pages, t('all_pages', :scope => 'refinery.admin.page_menus.form') %>
		  <%= refinery_help_tag t('all_pages_help', :scope => 'refinery.admin.page_menus.form') %>
		</span>
		<%= select_tag :all_pages, options_for_select(
			@pages_not_in_menu.map{ 
				|p| [p.title, p.id, {'data-lft'=>p.lft}] 
			}
		), { :allow_blank => true, :size => 20, :multiple => true, :class => "select_from" } %>
		
	</div>
	
	<div class='select_buttons'>
		<%= button_tag ">", :type => 'button', :onclick => "moveSelectedPage('.select_from','.select_to')", :class => 'select_add' %>
		<%= button_tag "<", :type => 'button', :onclick => "moveSelectedPage('.select_to','.select_from')", :class => 'select_remove' %>
	</div>
	
	<div class="hemisquare right_side">
		<span class='label_with_help'>
			<%= f.label :pages, t('menu_pages', :scope => 'refinery.admin.page_menus.form') %>
		  <%= refinery_help_tag t('pages_help', :scope => 'refinery.admin.page_menus.form') %>
		</span>
		<%= f.select :pages, options_for_select(
			@pages_in_menu.map{ 
				|p| [p.title, p.id, {'data-lft'=>p.lft}] 
			}
		), {}, { :allow_blank => true, :size => 20, :multiple => true, :class => "select_to" } %>
	</div>
	
</div>

<% content_for :javascripts, javascript_include_tag('refinery/select_box') %>
<% content_for :stylesheets, stylesheet_link_tag('refinery/select_form') %>